<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <base href="/"></base>
    <title>my_intraBocal</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="/css/dashboard.css" charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" charset="utf-8">
    <script src="/angular/angular.min.js" charset="utf-8"></script>
    <script src="/angular-ui-router/release/angular-ui-router.min.js" charset="utf-8"></script>
    <script src="/angular-animate/angular-animate.min.js" charset="utf-8"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.min.js" charset="utf-8"></script>
    <script src="/main.js" charset="utf-8"></script>
    <script src="/services.js" charset="utf-8"></script>
    <script src="/problems.js" charset="utf-8"></script>
    <script src="/controllers.js" charset="utf-8"></script>
</head>
<body>
    <ui-view></ui-view>
</body>
</html>
