<ng-include src="'templates/partials/navbar.html'"></ng-include>
<ng-include src="'templates/partials/sidebar.html'"></ng-include>
<div class="col-md-12 news">
  <div class="newsSubmit" ng-show='user.admin'>
    <h2 class="sub-header">Post a News !</h2>
    <form>
      <fieldset class="form-group">
        <p>Title</p>
        <input type="text" class="form-control" placeholder="Title" ng-model='newsForm.title'>
      </fieldset>
      <fieldset class="form-group">
        <p for="exampleTextarea">Short description</p>
        <textarea class="form-control" rows="2" placeholder="Short Description" ng-model='newsForm.description'></textarea>
      </fieldset>
      <button class="btn btn-primary" ng-click='postNews(user)'>Submit</button>
    </form>
  </div>
  <h2 class="sub-header">All News</h2>
  <div ng-repeat='new in news | orderBy: createdAt :true' class="news">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title">{{new.title}}</h1>
      </div>
      <div class="panel-body">
        <p>{{new.description}}</p>
        <h6>BY : {{new.author}} --- </h6>
        <h6>{{new.createdAt | date : "medium"}}</h6>
      </div>
      <div class="panel-footer" ng-show='user.admin'>
        <button ng-click="deleteNews(new._id)" class="btn btn-danger">Delete this news</button>
      </div>
    </div>
  </div>
</div>
