<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="navbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <li><a ng-click='home()'>my_intraBocal</a></li>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click='dashboard()'>Dashboard</a></li>
        <li><a ng-click='news()'>News</a></li>
        <li><a ng-click='settings()'>Settings</a></li>
        <li><a ng-click='logout()'>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
